.wrapper {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 2%;
}

.text-area-font {
    font-size: 14px;
}

td {
    padding: 8px;
    font-size: 1em;
}

th {
    font-size: 1em;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    /* background-color: #ddd;
    border: 1px solid #000; */
}

table {
    width: 100%;
}

.table-topic-name {
    white-space: nowrap;
    max-width: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 15px;
    background: #636c72;
    color: #f2f2f2;
    border-radius: 4px;
}
.delete {
    padding: 5px 15px;
    border-radius: 4px;
    background: #d9534f;
    color: #f2f2f2;
}
.delete:hover {
    cursor: pointer;
}

.delete-disabled {
    padding: 5px 15px;
    border-radius: 4px;
    background: #3333334d;
    color: #f2f2f2;
}

.delete-disabled:hover {
    cursor: not-allowed;
    /* background: rgb(183, 255, 0); */
}

.align-center {
    text-align: center;
}

.save-changes {
    float: right;
    margin:  5px 15px;
    padding: 5px 15px;

}

.caption-label {
    font-size: 1em;
    color: #484848;;
}



.pagination {
    background: #333;
}

.custom-alert {
    color: #fff;
    font-weight: bold;
    background-color: #d9534f;
    /* border-color: #da576d;            */
}

.float-right {
    text-align: right;
}

.button-align {
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-center {
    text-align: center;
}