body {
    color: #333;
    background-color:  #867f7f00 !important;
    font-family: "Helvetica", sans-serif;
    font-size: 1.0em;
}

a {
    color: #ccc;
}


iframe {
    width: 100%;
    margin-top: 20px;
    min-height: 900px;
    border: 2px solid #d9dadb;
}


.layout-wrapper img {
    margin-left: 19%;
    margin-top: 2px;
    max-height: 80px;
    margin-bottom: 10px;
}


.layout-wrapper {
    margin: 0px auto 0px auto;
    background: white;
    text-align: left;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 0px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

.main-layout {
    background: rgb(255, 255, 255);
    padding-top: 10px;
    padding-left: 32%;
    color: black;
    padding-bottom: 10px;
    border-top: #FF6600 2px solid;
    border-bottom: #FF6600 2px solid;
}

.main-layout a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    height: 100%;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -4px;
    border-right: 1px solid #ff6601;
}

.main-layout a:last-child  {
    border-right: 0px;
}

.main-layout a:hover,
.main-layout a:active
{
    text-decoration: none;
    color: white;
    background-color: #FF6600;
}

.panel-wrapper {
    width: 100%;
    height: 100%;
    padding: 15px;
    margin: 0px auto 50px auto;
    background: rgba(29, 29, 29, 0.54);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 0px;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}


/*custom container*/

.cust-container {
    width: 100% !important;
}


.statement {
    color: #065aa2;
    font-weight: 700;
}

.scrollbar {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 202px;
    width: 600px;
    border: 1px solid #e4e4e4;
}


.scrollbar-style::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.scrollbar-style::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.scrollbar-style::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent)
}

.caption-label {
    color: black !important;
}


.add-new .input-to-add  {
    border: 1px solid #e4e4e4;
}


.add-btn {
    color: black;
    text-decoration: none;
    margin-top: 20px;
    min-width: 100% !important;
    text-align: left;
    background-color: white;
    border: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    cursor: pointer;
    display: block;
    padding-left: 10px;
    padding-top: 5px;
}

.add-btn i {
    color: #ff6601;
}


.add-btn:focus, .add-btn:hover {
    color: black;
    text-decoration: none;
    border: none;
    box-shadow: none !important;
    outline: none;
    border-bottom: 1px solid #ddd;
}

.add-btn-select{
    background-color: #f8f8f8;
}



.button-universal{
    background-color: #ff6601 !important;
    color: #fff;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 12px;
    margin-bottom: 20px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #ff6601 !important;
    border-color: #ff6601 !important;
}


#key{
    margin-top: 1px;
    border: 0px;
    padding: 0px;
    background: white;
    line-height: 0px
}