
<body>

<h2 align="center">Login Validation</h2>

<iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>

<form method="get" action="/roses">

  Enter User Name <input type="text" name="job"> <br>
  Enter Password  <input type="text" name="priority"> <br>
  <input type="submit" value="SEND">
  <input type="reset" value="CLEAR" onclick="">



</form>
</body>